openapi: 3.1.0
x-language: zh-CN
info:
  title: MiniMax-Hailuo-2.3-I2V接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `MiniMax-Hailuo-2.3-I2V` 的视频接口文档，说明如何提交生成任务、查询任务状态、读取视频结果以及处理错误。
    接口路径包括 `POST /v1/tasks/submit`、`GET /v1/tasks/status`。
servers:
  - url: https://api.modelverse.cn
    description: 该模型文档中使用的 ModelVerse API 端点。

tags:
  - name: MiniMax/Hailuo-2.3-I2V
    description: Image-to-video asynchronous task operations for MiniMax/Hailuo-2.3.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - MiniMax/Hailuo-2.3-I2V
      operationId: submitMiniMaxHailuo23I2VTask
      summary: 提交 MiniMax/Hailuo-2.3 图生视频任务
      description: |
        提交异步任务。请求体中的模型和参数按本模型文档填写，响应会返回任务 ID。
      x-astraflow-profile:
        version: 1
        defaultMode: first-frame
        modes:
          - id: first-frame
            promptRequired: true
            label: {zh: 首帧生视频, en: First frame to video}
            description: {zh: 使用一张图片作为视频首帧。, en: Use one image as the first frame.}
            media:
              - id: first-frame
                field: input.first_frame_image
                mediaKind: image
                serializer: direct-url
                acceptedSources: [url, data-url, file]
                mimeTypes: [image/jpeg, image/png, image/webp]
                maxBytes: 20971520
                minItems: 1
                maxItems: 1
        constraints:
          - kind: parameter-rule
            when: { field: parameters.duration, equals: 10 }
            actions:
              - { kind: allowed-values, field: parameters.resolution, values: [768P] }
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MiniMaxHailuo23I2VSubmitRequest"
            examples:
              documented:
                summary: 源文档 图生视频 请求
                value:
                  model: MiniMax-Hailuo-2.3
                  input:
                    first_frame_image: https://cdn.ucloud.com/prod/2024-09-18-16/user/multi_chat_file/9c0b5c14-ee88-4a5b-b503-4f626f018639.jpeg
                    prompt: A mouse runs toward the camera, smiling and blinking. [推进, 跟随]
                  parameters:
                    duration: 6
                    resolution: 1080P
                    prompt_optimizer: true
                    fast_pretreatment: false
                    aigc_watermark: false
              dataUrlImage:
                summary: Request使用a Base64 data URL 首帧
                value:
                  model: MiniMax-Hailuo-2.3
                  input:
                    first_frame_image: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD
                    prompt: A small robot walks through a neon alley. [推进, 上升]
                  parameters:
                    duration: 10
                    resolution: 768P
                    prompt_optimizer: true
                    fast_pretreatment: true
                    aigc_watermark: false
      responses:
        "200":
          description: 任务提交成功。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiniMaxHailuo23I2VSubmitResponse"
              examples:
                submitted:
                  summary: 已提交任务
                  value:
                    output:
                      task_id: "106916112212032"
                    request_id: request_id
        "400":
          description: 请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiniMaxHailuo23I2VErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/MiniMaxHailuo23I2VParamError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiniMaxHailuo23I2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/MiniMaxHailuo23I2VParamError"

  /v1/tasks/status:
    get:
      tags:
        - MiniMax/Hailuo-2.3-I2V
      operationId: getMiniMaxHailuo23I2VTaskStatus
      summary: 查询 MiniMax/Hailuo-2.3 图生视频任务
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            documented:
              summary: 源文档占位值
              value: task_id
      responses:
        "200":
          description: 任务状态响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiniMaxHailuo23I2VStatusResponse"
              examples:
                success:
                  summary: 成功任务
                  value:
                    output:
                      task_id: "176843862716480"
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 6
                    request_id: ""
                failure:
                  summary: 失败任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 6
                    request_id: ""
        "400":
          description: 任务标识或请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiniMaxHailuo23I2VErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/MiniMaxHailuo23I2VParamError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiniMaxHailuo23I2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/MiniMaxHailuo23I2VParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
  schemas:
    MiniMaxHailuo23I2VSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: MiniMax-Hailuo-2.3
          description: Model name. This schema is pinned to `MiniMax-Hailuo-2.3`.
        input:
          $ref: "#/components/schemas/MiniMaxHailuo23I2VInput"
        parameters:
          $ref: "#/components/schemas/MiniMaxHailuo23I2VParameters"

    MiniMaxHailuo23I2VInput:
      type: object
      additionalProperties: false
      required:
        - first_frame_image
        - prompt
      properties:
        first_frame_image:
          type: string
          description: |
            Video first-frame image. Supports a public URL or a Base64 encoded
            data URL such as `data:image/jpeg;base64,...`. Source image
            requirements: JPG, JPEG, PNG, or WebP; no larger than 20 MB; short
            side greater than 300 px; aspect ratio between 2:5 and 5:2.
          examples:
            - https://cdn.ucloud.com/prod/2024-09-18-16/user/multi_chat_file/9c0b5c14-ee88-4a5b-b503-4f626f018639.jpeg
            - data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD
        prompt:
          type: string
          maxLength: 2000
          description: |
            Text description for the generated video. Camera-control
            instructions may be included in square brackets. Supported
            instructions include [左移], [右移], [左摇], [右摇], [推进],
            [拉远], [上升], [下降], [上摇], [下摇], [变焦推近],
            [变焦拉远], [晃动], [跟随], and [固定].
          examples:
            - A mouse runs toward the camera, smiling and blinking. [推进, 跟随]

    MiniMaxHailuo23I2VParameters:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: |
            Generated video duration in seconds. `6` supports `768P` and
            `1080P`; `10` supports `768P`.
          enum:
            - 6
            - 10
          default: 6
        resolution:
          type: string
          description: |
            Generated video resolution tier. The default is `768P`; `1080P` is
            available only for 6-second tasks.
          enum:
            - 768P
            - 1080P
          default: 768P
        prompt_optimizer:
          type: boolean
          default: true
          description: Whether to automatically optimize the text description.
        fast_pretreatment:
          type: boolean
          default: false
          description: Whether to shorten text optimization latency for MiniMax-Hailuo-2.3.
        aigc_watermark:
          type: boolean
          default: false
          description: 是否为生成视频添加水印。

    MiniMaxHailuo23I2VSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: 异步任务唯一标识。
        request_id:
          type: string
          description: 唯一请求标识。

    MiniMaxHailuo23I2VStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/MiniMaxHailuo23I2VStatusOutput"
        usage:
          $ref: "#/components/schemas/MiniMaxHailuo23I2VUsage"
        request_id:
          type: string
          description: 唯一请求标识。

    MiniMaxHailuo23I2VStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: 异步任务唯一标识。
        task_status:
          $ref: "#/components/schemas/MiniMaxHailuo23I2VTaskStatus"
        urls:
          type: array
          description: 视频结果 URL 列表。
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: 任务提交时间戳。
        finish_time:
          type: integer
          format: int64
          description: 任务完成时间戳。
        error_message:
          type: string
          description: 任务失败时返回的错误信息。

    MiniMaxHailuo23I2VTaskStatus:
      type: string
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      enum:
        - Pending
        - Running
        - Success
        - Failure

    MiniMaxHailuo23I2VUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Generated video duration in seconds.

    MiniMaxHailuo23I2VErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/MiniMaxHailuo23I2VErrorObject"

    MiniMaxHailuo23I2VErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: 错误信息。
        type:
          type: string
          description: 错误类型。
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: 错误码。
          examples:
            - param_error
        param:
          type:
            - string
            - "null"
          description: 相关请求参数，如有。

  examples:
    MiniMaxHailuo23I2VParamError:
      summary: 参数错误
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: input.first_frame_image
