openapi: 3.1.0
x-language: zh-CN
info:
  title: Vidu-Reference2Video接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `Vidu-Reference2Video` 的视频接口文档，说明如何提交生成任务、查询任务状态、读取视频结果以及处理错误。
    接口路径包括 `POST /v1/tasks/submit`、`GET /v1/tasks/status`。
servers:
  - url: https://api.modelverse.cn
    description: 该模型文档中使用的 ModelVerse API 端点。

tags:
  - name: Vidu/Reference2Video
    description: Reference-to-video asynchronous task operations for Vidu/Reference2Video.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Vidu/Reference2Video
      operationId: submitViduReference2VideoTask
      summary: 提交 Vidu/Reference2Video 参考图生视频任务
      description: |
        提交异步任务。请求体中的模型和参数按本模型文档填写，响应会返回任务 ID。
      x-astraflow-profile:
        version: 1
        defaultMode: legacy-images
        modes:
          - id: subjects
            promptRequired: true
            label:
              zh: 结构化主体参考
              en: Structured subjects
            description:
              zh: 使用 1 至 7 个带 ID、图片组和音色的主体。
              en: Use 1 to 7 subjects with an ID, image set, and voice.
            media: []
            structuredFields:
              - id: subjects
                field: input.subjects
                kind: json
                required: true
                label: { zh: 主体列表, en: Subjects }
                description: { zh: 每个主体包含 id、1 至 3 张 images 和 voice_id。, en: Each subject contains an id, 1-3 images, and voice_id. }
                placeholder: '[{"id":"1","images":["https://example.com/1.png"],"voice_id":""}]'
          - id: legacy-images
            promptRequired: true
            label:
              zh: 兼容参考图
              en: Legacy reference images
            description:
              zh: 使用兼容接口传入 1 至 7 张参考图片。
              en: Use the legacy input with 1 to 7 reference images.
            media:
              - id: reference-images
                field: input.images
                mediaKind: image
                serializer: url-array
                acceptedSources: [url, data-url, file]
                mimeTypes: [image/png, image/jpeg, image/webp]
                maxBytes: 52428800
                minItems: 1
                maxItems: 7
                label:
                  zh: 参考图片
                  en: Reference images
        constraints: []
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ViduReference2VideoSubmitRequest"
            examples:
              documentedSubjects:
                summary: 源文档参考图生视频请求使用subjects
                value:
                  model: viduq2
                  input:
                    prompt: 让@1与@2一起跑步,一起喊加油
                    subjects:
                      - id: "1"
                        images:
                          - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                        voice_id: ""
                      - id: "2"
                        images:
                          - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                        voice_id: ""
                  parameters:
                    vidu_type: reference2video
                    duration: 5
                    aspect_ratio: "16:9"
                    resolution: 720p
                    movement_amplitude: auto
                    bgm: false
                    audio: true
              legacyImages:
                summary: 源文档legacy请求使用images
                value:
                  model: viduq2
                  input:
                    images:
                      - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: make it dance.
                  parameters:
                    vidu_type: reference2video
                    duration: 5
                    aspect_ratio: "16:9"
                    resolution: 720p
                    movement_amplitude: auto
                    bgm: true
      responses:
        "200":
          description: 任务提交成功。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduReference2VideoSubmitResponse"
              examples:
                submitted:
                  summary: 已提交任务
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: 请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduReference2VideoErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ViduReference2VideoParamError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduReference2VideoErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ViduReference2VideoParamError"

  /v1/tasks/status:
    get:
      tags:
        - Vidu/Reference2Video
      operationId: getViduReference2VideoTaskStatus
      summary: 查询 Vidu/Reference2Video 任务状态
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          example: task_id
      responses:
        "200":
          description: 任务状态响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduReference2VideoStatusResponse"
              examples:
                success:
                  summary: 成功任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: 失败任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: 任务标识或请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduReference2VideoErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ViduReference2VideoParamError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduReference2VideoErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ViduReference2VideoParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
  schemas:
    ViduReference2VideoSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: viduq2
          description: Model name. This schema is pinned to `viduq2`.
        input:
          oneOf:
            - $ref: "#/components/schemas/ViduReference2VideoSubjectInput"
            - $ref: "#/components/schemas/ViduReference2VideoLegacyInput"
        parameters:
          $ref: "#/components/schemas/ViduReference2VideoParameters"

    ViduReference2VideoSubjectInput:
      type: object
      additionalProperties: false
      required:
        - prompt
        - subjects
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 2000
          description: Text prompt used to guide video generation. Subject IDs may be referenced as `@id`.
        subjects:
          type: array
          minItems: 1
          maxItems: 7
          description: Image subject information. The model supports 1 to 7 subjects.
          items:
            $ref: "#/components/schemas/ViduReference2VideoSubject"

    ViduReference2VideoSubject:
      type: object
      additionalProperties: false
      required:
        - id
        - images
        - voice_id
      properties:
        id:
          type: string
          minLength: 1
          description: Subject ID that can be referenced in the prompt as `@id`.
        images:
          type: array
          minItems: 1
          maxItems: 3
          description: Image URLs or Base64 data URIs for this subject. Each subject supports up to 3 images.
          items:
            type: string
            description: Publicly accessible image URL or Base64 image data URI.
        voice_id:
          type: string
          description: Voice ID for the subject. An empty string lets the system automatically recommend a voice.

    ViduReference2VideoLegacyInput:
      type: object
      additionalProperties: false
      required:
        - images
        - prompt
      properties:
        images:
          type: array
          minItems: 1
          maxItems: 7
          description: |
            Legacy reference image array. The `viduq2` model supports 1 to 7
            reference images. Images may be URL strings or Base64 data URIs in
            the form `data:image/png;base64,{base64_encode}`. Supported formats
            are png, jpeg, jpg, and webp. Images must be at least 128 x 128
            pixels, have an aspect ratio no more extreme than 1:4 or 4:1, and
            be no larger than 50 MB.
          items:
            type: string
            description: Publicly accessible image URL or Base64 image data URI.
        prompt:
          type: string
          minLength: 1
          maxLength: 2000
          description: Text prompt used to guide video generation.

    ViduReference2VideoParameters:
      type: object
      additionalProperties: false
      required:
        - vidu_type
      properties:
        vidu_type:
          type: string
          const: reference2video
          description: Vidu API type. This schema is pinned to `reference2video`.
        duration:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Generated video duration in seconds for `viduq2`.
        seed:
          type: integer
          default: 0
          description: Random seed. The default `0` means a random seed is used.
        aspect_ratio:
          type: string
          enum:
            - "16:9"
            - "9:16"
            - "4:3"
            - "3:4"
            - "1:1"
          default: "16:9"
          description: Generated video aspect ratio.
        resolution:
          type: string
          enum:
            - 540p
            - 720p
            - 1080p
          default: 720p
          description: Generated video resolution for `viduq2` durations from 1 to 8 seconds.
        movement_amplitude:
          type: string
          enum:
            - auto
            - small
            - medium
            - large
          default: auto
          description: |
            Motion amplitude. The source documentation lists this parameter and
            also notes that the `viduq2` model does not support it.
        bgm:
          type: boolean
          default: false
          description: Whether to add background music.
        audio:
          type: boolean
          default: false
          description: Whether to use direct audio-video generation.

    ViduReference2VideoSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/ViduReference2VideoSubmitOutput"
        request_id:
          type: string
          description: 唯一请求标识。

    ViduReference2VideoSubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: 异步任务唯一标识。

    ViduReference2VideoStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/ViduReference2VideoStatusOutput"
        usage:
          $ref: "#/components/schemas/ViduReference2VideoUsage"
        request_id:
          type: string
          description: 唯一请求标识。

    ViduReference2VideoStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: 异步任务唯一标识。
        task_status:
          $ref: "#/components/schemas/ViduReference2VideoTaskStatus"
        urls:
          type: array
          description: 视频结果 URL 列表。
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: 任务提交时间戳。
        finish_time:
          type: integer
          format: int64
          description: 任务完成时间戳。
        error_message:
          type: string
          description: 任务失败时返回的错误信息。

    ViduReference2VideoTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
    ViduReference2VideoUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: 视频时长，单位为秒。

    ViduReference2VideoErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ViduReference2VideoErrorObject"
        request_id:
          type: string
          description: 唯一请求标识，如可用。

    ViduReference2VideoErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: 错误信息。
        type:
          type: string
          description: 错误类型。
        code:
          type:
            - string
            - "null"
          description: 错误码。
        param:
          type:
            - string
            - "null"
          description: 与错误相关的请求参数。

  examples:
    ViduReference2VideoParamError:
      summary: 参数错误
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: input.prompt
        request_id: request_id
