openapi: 3.1.0
x-language: zh-CN
info:
  title: Wan-AI-Wan2.2-I2V接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `Wan-AI-Wan2.2-I2V` 的视频接口文档，说明如何提交生成任务、查询任务状态、读取视频结果以及处理错误。
    接口路径包括 `POST /v1/tasks/submit`、`GET /v1/tasks/status`。
servers:
  - url: https://api.modelverse.cn
    description: 该模型文档中使用的 ModelVerse API 端点。

tags:
  - name: Wan-AI/Wan2.2-I2V
    description: Image-to-video async task operations.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Wan-AI/Wan2.2-I2V
      operationId: submitWanAIWan22I2VTask
      summary: 提交 Wan-AI/Wan2.2-I2V 图生视频任务
      description: |
        提交异步任务。请求体中的模型和参数按本模型文档填写，响应会返回任务 ID。
      x-astraflow-profile:
        version: 1
        defaultMode: first-frame
        modes:
          - id: first-frame
            promptRequired: true
            label:
              zh: 首帧生成
              en: First frame
            description:
              zh: 使用一张图片作为视频首帧。
              en: Use one image as the first frame.
            media:
              - id: first-frame
                field: input.first_frame_url
                mediaKind: image
                label:
                  zh: 首帧图片
                  en: First-frame image
                serializer: direct-url
                acceptedSources: [url, data-url, file]
                minItems: 1
                maxItems: 1
          - id: first-last-frame
            promptRequired: true
            label:
              zh: 首尾帧生成
              en: First and last frames
            description:
              zh: 使用两张图片分别作为视频首帧和尾帧。
              en: Use separate images as the first and last frames.
            media:
              - id: first-frame
                field: input.first_frame_url
                mediaKind: image
                label:
                  zh: 首帧图片
                  en: First-frame image
                serializer: direct-url
                acceptedSources: [url, data-url, file]
                minItems: 1
                maxItems: 1
              - id: last-frame
                field: input.last_frame_url
                mediaKind: image
                label:
                  zh: 尾帧图片
                  en: Last-frame image
                serializer: direct-url
                acceptedSources: [url, data-url, file]
                minItems: 1
                maxItems: 1
        constraints: []
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WanAIWan22I2VSubmitRequest"
            examples:
              imageToVideo:
                summary: 提交 图生视频任务
                value:
                  model: Wan-AI/Wan2.2-I2V
                  input:
                    first_frame_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    last_frame_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: Convert to quick pencil sketch
                  parameters:
                    resolution: 720P
      responses:
        "200":
          description: 任务提交成功。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan22I2VSubmitResponse"
              examples:
                submitted:
                  summary: 已提交任务
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: 请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                paramError:
                  summary: 参数错误
                  value:
                    error:
                      message: Invalid param
                      type: invalid_request_error
                      code: param_error
                      param: model
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                error:
                  summary: 通用错误
                  value:
                    error:
                      message: Invalid param
                      type: invalid_request_error
                      code: param_error
                      param: model

  /v1/tasks/status:
    get:
      tags:
        - Wan-AI/Wan2.2-I2V
      operationId: getWanAIWan22I2VTaskStatus
      summary: 查询 Wan-AI/Wan2.2-I2V 任务状态
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: 异步任务唯一标识。
          schema:
            type: string
          example: task_id
      responses:
        "200":
          description: 任务状态响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan22I2VStatusResponse"
              examples:
                success:
                  summary: 成功任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: 失败任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: 请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                paramError:
                  summary: 参数错误
                  value:
                    error:
                      message: Invalid param
                      type: invalid_request_error
                      code: param_error
                      param: task_id
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                error:
                  summary: 通用错误
                  value:
                    error:
                      message: Invalid param
                      type: invalid_request_error
                      code: param_error
                      param: task_id

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
  schemas:
    WanAIWan22I2VSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: Wan-AI/Wan2.2-I2V
          description: Model name. This schema is pinned to Wan-AI/Wan2.2-I2V.
        input:
          $ref: "#/components/schemas/WanAIWan22I2VInput"
        parameters:
          $ref: "#/components/schemas/WanAIWan22I2VParameters"

    WanAIWan22I2VInput:
      type: object
      additionalProperties: false
      required:
        - first_frame_url
        - prompt
      properties:
        first_frame_url:
          type: string
          description: First-frame image URL. The documented API also accepts Base64 image data.
        last_frame_url:
          type: string
          description: Optional last-frame image URL. The documented API also accepts Base64 image data.
        prompt:
          type: string
          description: 用于指导视频生成的提示词。
        negative_prompt:
          type: string
          description: 用于限制不期望内容的负向提示词。

    WanAIWan22I2VParameters:
      type: object
      additionalProperties: false
      properties:
        resolution:
          type: string
          enum:
            - 720P
            - 480P
          description: Generated video resolution tier.
        duration:
          type: integer
          enum:
            - 5
            - 8
          description: Generated video duration in seconds.
        seed:
          type: integer
          minimum: 0
          maximum: 2147483647
          description: 随机种子。

    WanAIWan22I2VSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: 异步任务唯一标识。
        request_id:
          type: string
          description: 唯一请求标识。

    WanAIWan22I2VStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
            - task_status
          properties:
            task_id:
              type: string
              description: 异步任务唯一标识。
            task_status:
              $ref: "#/components/schemas/WanAIWan22I2VTaskStatus"
            urls:
              type: array
              description: 视频结果 URL 列表。
              items:
                type: string
                format: uri
            submit_time:
              type: integer
              format: int64
              description: 任务提交时间戳。
            finish_time:
              type: integer
              format: int64
              description: 任务完成时间戳。
            error_message:
              type: string
              description: 任务失败时返回的错误信息。
        usage:
          type: object
          additionalProperties: false
          properties:
            duration:
              type: integer
              description: 任务执行时长，单位为秒。
        request_id:
          type: string
          description: 唯一请求标识。

    WanAIWan22I2VTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"

    ErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: 错误信息。
        type:
          type: string
          description: 错误类型。
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: 错误码。
          examples:
            - param_error
        param:
          type:
            - string
            - "null"
          description: 相关请求参数，如有。
